/*Efeito hover em background de Form para Login*/

.formLogin__bg {
    border: black solid 1px;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}
