.fundoLogin {
    background-image: url('https://ik.imagekit.io/emy/Backgrounds/window.webp?updatedAt=1739810225755');
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
}

