* {
    margin: 0;
    padding: 0;
}

:root{
    --color-primary: #4caf50;
    --color-secondary: #f44336;
    --color-tertiary: #ffeb3b;
    --color-quaternary: #2196f3;
    --color-background: #f5f5f5;
}